@model IEnumerable<BPKBViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreements List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <h1>Agreements List</h1>
    <a href="/Home/Create">Buat Data Baru</a>
    <table>
        <thead>
            <tr>
                <th>Agreement Number</th>
                <th>Bpkb No</th>
                <th>Branch ID</th>
                <th>Bpkb Date</th>
                <th>Faktur No</th>
                <th>Faktur Date</th>
                <th>Location ID</th>
                <th>Police No</th>
                <th>Bpkb Date In</th>
                <th>Bpkb Date In</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agreement in Model)
            {
                <tr>
                    <td>@agreement.AgreementNumber</td>
                    <td>@agreement.BpkbNo</td>
                    <td>@agreement.BranchId</td>
                    <td>@agreement.BpkbDate?.ToString("yyyy-MM-dd")</td>
                    <td>@agreement.FakturNo</td>
                    <td>@agreement.FakturDate?.ToString("yyyy-MM-dd")</td>
                    <td>@agreement.LocationId</td>
                    <td>@agreement.PoliceNo</td>
                    <td>@agreement.BpkbDateIn?.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a href="/Home/ReadOrUpdate?agreementNumber=@agreement.AgreementNumber">Edit</a> | <a class="text-danger" href="/Home/Delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>